*{
    margin: 0;
    padding: 0;
      box-sizing: box-border;
  } 
  body {
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center ;
    align-items: center ;
    height: 100vh;
    background: white;
  
  } 
  
  .box {
    height: 30vh ;
    width: 30vh;
    position: relative;
    display: flex;
    justify-content: center ;
    align-items: center ;
    background: none;
    transform-style: preserve-3d;
    font-size: 30px;
    transform: rotateY(45deg) rotateX(-15deg) rotateZ(-15deg);
  }

  .box div {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 30vh;
    width: 30vh;
    background-color: grey;
  }
  
  .front{
    transform: translateZ(15vh);
    background-image: url('../exporti/front-pozicija/H.png')
  }
  .back{
    transform: translateZ(-15vh);
    background-color: rgba(72,99,160,0.80) ;
  } 
  .left{
    transform: translateX(-15vh) rotateY(90deg);
    background-image: url('../exporti/front-pozicija/A.png');
  }
  
  .right{
    transform: translateX(15vh) rotateY(90deg);
    background: rgba(242,192,99,0.80) ;
  }
  
  .top{
    transform: translateY(15vh) rotateX(90deg);
    background: rgba(63,140,123,0.80) ;
   
  }
  
  .bottom{
    transform: translateY(-15vh) rotateX(90deg);
    background-image: url('../exporti/front-pozicija/E.png');
  }

  .rotate-a {
    animation: rotate-a 2s;
  }
  .rotate-h {
    animation: rotate-h 2s forwards;
  }
  .rotate-e {
    animation: rotate-e 2s;
  }

  /* text images */
  .architecture, .entertainment, .hetzel {
      position: absolute;
      height: 30vh;
      background-repeat: no-repeat;
      background-size: cover;
      top: 51%;
      left: 39%;
      transform: translateY(-50%);
      opacity: 0;
      z-index: -1;
      transition: opacity 2s 2s;
  }

  .show {
    opacity: 1;
  }

  @keyframes a {
    from {
        opacity: 0;
    }
    /* 49% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    } */
    to {
        opacity: 0;
    }
  }

  @keyframes rotate-a {
    from {
        transform: rotateY(45deg) rotateX(-15deg) rotateZ(-15deg);
    }
    to {
        transform: rotateY(90deg) rotateX(-0) rotateZ(-0); 
    }
  }
  @keyframes rotate-h {
      from {
        transform: rotateY(45deg) rotateX(-15deg) rotateZ(-15deg);
      }
      to {
        transform: rotateY(0) rotateX(0) rotateZ(0); 
      }
  }
  @keyframes rotate-e {
      from {
        transform: rotateY(45deg) rotateX(-15deg) rotateZ(-15deg);
      }
      to {
        transform: rotateY(45deg) rotateX(-90deg) rotateZ(-45deg);
      }
  }