
@keyframes opacity-up {
    0% {
      opacity: 0;
    }
    10% {
      pointer-events: all;
    }
    50% {
      opacity: 1;
    }
    90% {
      pointer-events: none;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes show {
    0% {
      display: none;
    }
    1% {
      display: block;
    }
    99% {
      display: block;
    }
    100% {
      display: none;
    }
  }
  
  @keyframes hide {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  @mixin animation($name, $toX, $toY, $toZ) {
    @keyframes #{$name} {
      0% {
        transform: rotateX(-15deg) rotateY(45deg) rotateZ(-15deg) translateX(-50%);
      }
      10% { // .5s
        transform: rotateX(#{$toX}) rotateY(#{$toY}) rotateZ(#{$toZ});  
      }
      // 4s
      90% { // .5s
        transform: rotateX(#{$toX}) rotateY(#{$toY}) rotateZ(#{$toZ}); 
      }
      100% {
        transform: rotateX(-15deg) rotateY(45deg) rotateZ(-15deg);
      }
    }
  }

 @include animation('rotate-a', 0, 90deg, 0);
 @include animation('rotate-h', 0, 0, 0);
 @include animation('rotate-e', -90deg, 0, 0);