
@keyframes opacity-up {
	0% {
		opacity: 0;
	}
	10% {
		pointer-events: all;
	}
	50% {
		opacity: 1;
	}
	90% {
		pointer-events: none;
	}
	100% {
		// opacity: 0;
	}
}

@keyframes show {
	0% {
		display: none;
	}
	1% {
		display: block;
	}
	99% {
		display: block;
	}
	100% {
		display: none;
	}
}
  
@keyframes hide {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes fadeInFromNone {
	0% {
		display: none;
		opacity: 0;
	}

	1% {
		display: block;
		opacity: 0;
	}

	50% {
		display: block;
		opacity: 1;
	}
	100% {
		display: none;
		opacity: 0;
	}
}
  
@mixin animation($name, $toX, $toY, $toZ) {
	@keyframes #{$name} {
		0% {
			transform: $starting-rotation;
		}
		10% {
			transform: rotateX(#{$toX}) rotateY(#{$toY}) rotateZ(#{$toZ});  
		}
		20% {
			transform: rotateX(#{$toX}) rotateY(#{$toY}) rotateZ(#{$toZ});
		}
		80% {
			transform: rotateX(#{$toX}) rotateY(#{$toY}) rotateZ(#{$toZ}); 
		}
		90% { 
			transform: rotateX(#{$toX}) rotateY(#{$toY}) rotateZ(#{$toZ}); 
		}
		100% {
			transform: $starting-rotation;
		}
	}
}

@mixin backgroundAnimation($name, $url1, $url2) {
	@keyframes #{$name} {
		1% {
			background-image: url($url1); 
		}
		99% { 
			background-image: url($url2); 
		}
	}
}

@include animation('rotate-a', 0, 90deg, 0);
@include animation('rotate-h', 0, 0, 0);
@include animation('rotate-e', -90deg, 90deg, 0);

@include backgroundAnimation('a-background', $a-perspective, $a-front);
@include backgroundAnimation('h-background', $h-perspective, $h-front);
@include backgroundAnimation('e-background', $e-perspective, $e-front);


