
.box, .box div {
	height: $height;
	width: $height;
	@include tablet {
		height: $height-tablet;
		width: $height-tablet;
	}
}
  
.box {
	position: absolute;
	background: none;
	transform-style: preserve-3d;
	font-size: 30px;
	transform: $starting-rotation;
	left: calc((100% -  #{$height}) / 2);
	top: 200px;
	@include tablet {
		left: calc((100% -  #{$height-tablet}) / 2);
	}
}
  
.box div {
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	background-color: grey;
	a {
		display: inline-block;
		height: 100%;
		width: 100%;
		pointer-events: none;
		cursor: default;
	}
}

body::after {
	position:absolute; 
	width:0;
	height:0;
	overflow:hidden;
	z-index:-1; // hide images
	content:url($a-front) url($h-front) url($e-front); // load images
}
  
.rotate-a {
	
	// @include tablet {
	animation: rotate-a $animation-speed;
	.a-side {
		animation: a-background $animation-speed;
	}
	// }
	.a-side a {
		pointer-events: initial;
		cursor: pointer;
	}
}
.rotate-h {
	// @include tablet {
	animation: rotate-h $animation-speed;
	.h-side {
		animation: h-background $animation-speed;
	}
	// }
	.h-side a {
		pointer-events: initial;
		cursor: pointer;
	}
}
.rotate-e {
	// @include tablet {
	animation: rotate-e $animation-speed;
	.e-side {
		animation: e-background $animation-speed;
	}
	// }
	.e-side a {
		pointer-events: initial;
		cursor: pointer;
	}
}

.show {
	// @include tablet {
	animation: opacity-up $animation-speed *.8 $animation-delay;
	// }
}