.buttons {
	padding-right: 30px;
	padding-left: 30px;
	width: 100%;
	position: absolute;
	top: 460px;
	button {
		display: block;
		width: 100%;
		height: 45px;
		text-align: center;
		font-size: 20px;
		border: 1px solid $gray-border;
		border-radius: 5px;
		max-width: 280px;
		margin: 0 auto;
		&.button-architecture {
			margin-bottom: 36px;

		}
	
		&:hover {
			background-color: $gray-background;
			border: none;
			color: white;
		}
	}
	@include tablet {
		display: none;
	}
}

.rotate-f-e .button-entertainment {
	background-color: $gray-background;
	border: none;
	color: white;
}

.rotate-f-a .button-architecture {
	background-color: $gray-background;
	border: none;
	color: white;
}