@mixin cubeSide($side, $url-perspective, $url-front, $transform) {
	.#{$side} {
		&::before {
			background-image: url($url-perspective);
		}
		&::after {
			background-image: url($url-front);
		}
		transform: $transform;
	}
}
@include cubeSide('h-side', $h-perspective, $h-front,  translateZ($height-tablet / 2));
@include cubeSide('e-side', $e-perspective, $e-front,  translateY(-$height-tablet / 2) rotateX(90deg) rotateZ(90deg));
@include cubeSide('a-side', $a-perspective, $a-front,  translateX(-$height-tablet / 2) rotateY(270deg));
.back {
	transform: translateZ(-$height-tablet / 2);
} 
.right {
	transform: translateX($height-tablet / 2) rotateY(90deg);
}
.top {
	transform: translateY($height-tablet / 2) rotateX(90deg);
}
  
