* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	width: 100%;
}
  
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	line-height: 1;
	overflow: hidden;
	background-color: grey;
} 

.preload * {
	transition: none !important;
}

.container {
	@include tablet {
		margin-right: 75px;
		margin-left: 75px;
	}
	@include laptop {
		margin-right: 190px;
		margin-left: 190px;
	}
	@include desktop {
		margin-right: 300px;
		margin-left: 300px;
	}
	@include desktop-lg {
		margin-right: 600px;
		margin-left: 600px;
	}
}