* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}
  
body {
	margin: 0;
	min-height: 780px;
	height: 100%;
	line-height: 1;
	overflow-x: hidden;
	overflow-y: scroll;
	font-family: open-sans, sans-serif;
	padding: 0 20px;
	@include tablet {
		min-height: 100%;
		padding: 0 40px;
	}
	main {
		min-height: calc(100% - 52px);
		position: relative;
		@include tablet {
			min-height: calc(100% - 60px);
		}
	}
} 

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

a {
	color: inherit; /* blue colors for links too */
	text-decoration: inherit; /* no underline */
}

.preload * {
	transition: none !important;
}

.container {
	@include tablet {
		margin-right: 75px;
		margin-left: 75px;
	}
	@include laptop {
		margin-right: 190px;
		margin-left: 190px;
	}
	@include desktop {
		margin-right: 300px;
		margin-left: 300px;
	}
	@include desktop-lg {
		margin-right: 600px;
		margin-left: 600px;
	}
}