.links {
    display: none;
  }
.architecture, .entertainment, .hetzel {
    height: $height;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    img {
        position: absolute;
        height: $height;
        background-repeat: no-repeat;
        background-size: cover;
    }
}


// .hide {
//   display: none;
// }

.show {
    animation: opacity-up $animation-speed *.8 $animation-delay;
  }

  