nav {
	height: 52px;
	padding-top: 20px;
	padding-bottom: 20px;
	@include tablet {
		height: 60px;
	}
	ul, li {
		display: inline-block;
	}
	li {
		margin-right: 25px;
		@include tablet {
			margin-right: 38px;
		}
		&.contact {
			margin-right: 0;
		}
	}
	img {
		height: 12.3px;
		@include tablet {
			height: 20px;
		}
	}
	.nav-list {
		float: right;
		&-architecture, &-entertainment {
			display: none;
			@include tablet {
				display: inline-block;
			}
		}
		a {
			font-size: 14px;
			line-height: 1;
		}
	
	}

}