.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .9rem;
    @include mobile-bg {
        font-size: 1.2rem;
    }
    h1 {
        font-weight: 900;
        margin: 1rem;
        @include tablet {
            margin: 1.5rem;
        }
    }
    span {
        font-weight: 100;
    }
   
}