.text {
	top: 295px;
	position: relative;
	font-size: 30px;
	color: $black;
	font-weight: bold;
	text-align: center;
	.architecture, .entertainment, .hetzel {
		display: inline-block;
		margin: 0 auto;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		opacity: 0;
		transition: opacity $animation-speed;
	}
	@include tablet {
		top: 360px;
		font-size: 45px;
	}
}