$height: 60px;
$height-tablet: 120px;
$starting-rotation: rotateX(-37deg) rotateY(43deg) rotateZ(-2deg);
$animation-speed: 1s;
$e-front:'../assets/front-pozicija/E.png';
$e-perspective: '../assets/perspektiva\ E\ ispravljena.png';
$h-front:'../assets/front-pozicija/H.png';
$h-perspective: '../assets/perspektiva\ H\ ispravljena.png';
$a-front:'../assets/front-pozicija/A.png';
$a-perspective: '../assets/perspektiva\ A\ ispravljena.png';
$rotate-f-a: 'rotate-f-a';
$rotate-f-h: 'rotate-f-h';
$rotate-f-e: 'rotate-f-e';
@mixin mobile {
    @media (min-width: 320px) { @content; }
}
@mixin mobile-bg {
    @media (min-width: 480px) { @content; }
}
@mixin tablet {
    @media (min-width: 768px) { @content; }
}
@mixin laptop {
    @media (min-width: 1024px) { @content; }
}
@mixin desktop {
    @media (min-width: 1366px) { @content; }
}
@mixin desktop-lg {
    @media (min-width: 1920px) { @content; }
}
