$height: 150px;
$height-tablet: 210px;
$starting-rotation: rotateX(-37deg) rotateY(43deg) rotateZ(0);
$animation-speed: .5s;
$e-front:'../assets/new-e.png';
$e-perspective: '../assets/perspektiva\ E\ ispravljena.png';
$h-front:'../assets/new-h.png';
$h-perspective: '../assets/perspektiva\ H\ ispravljena2.png';
$a-front:'../assets/new-a.png';
$a-perspective: '../assets/perspektiva\ A\ ispravljena2.png';
$rotate-f-a: 'rotate-f-a';
$rotate-f-h: 'rotate-f-h';
$rotate-f-e: 'rotate-f-e';
// colors
$gray-border: #BBBBBB;
$gray-background: #707070;
$black: #333333;

@mixin mobile {
    @media (min-width: 320px) { @content; }
}
@mixin mobile-bg {
    @media (min-width: 480px) { @content; }
}
@mixin tablet {
    @media (min-width: 768px) { @content; }
}
@mixin laptop {
    @media (min-width: 1024px) { @content; }
}
@mixin desktop {
    @media (min-width: 1366px) { @content; }
}
@mixin desktop-lg {
    @media (min-width: 1920px) { @content; }
}