$height: 120px;
$architectureWidth: 609px;
$entertainmentWidth: 617px;
$hetzelWidth: 338px;
$starting-rotation: rotateX(-37deg) rotateY(43deg) rotateZ(-2deg);
// $starting-rotation: rotateX(-90deg) rotateY(0deg) rotateZ(0deg) translateX(-50px);
$animation-speed: 5s;
$animation-delay: $animation-speed / 5;
$e-front:'../assets/front-pozicija/E.png';
$e-perspective: '../assets/perspektiva\ E\ ispravljena.png';
$h-front:'../assets/front-pozicija/H.png';
$h-perspective: '../assets/perspektiva\ H\ ispravljena.png';
$a-front:'../assets/front-pozicija/A.png';
$a-perspective: '../assets/perspektiva\ A\ ispravljena.png';
@mixin mobile {
    @media (min-width: 320px) { @content; }
}
@mixin mobile-bg {
    @media (min-width: 480px) { @content; }
}
@mixin tablet {
    @media (min-width: 768px) { @content; }
}
@mixin laptop {
    @media (min-width: 1024px) { @content; }
}
@mixin desktop {
    @media (min-width: 1366px) { @content; }
}
@mixin desktop-lg {
    @media (min-width: 1920px) { @content; }
}
